@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
$colorTitle: #ccc;
$colorBorder: #FFFC00;
$colorBackground: #D9D9D9;
$colorBackground2: #00CC00;
$headerColor: #ffff89;
$colorRgb: linear-gradient(90deg, #fffc00 0%, #ffffff 100%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100vw;
    height: 100vh;
    background-color: $colorBackground;
}

.header {
    width: 100vw;
    height: 10vh;
    background-color: $headerColor ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTitle {
    margin-left: 16px;
    font-family: 'Rubik Vinyl', cursive;
    font-size: 2.5rem;
}

.headerTitle span {
    color: $colorBackground2;
}

a {
    list-style: none;
    text-decoration: none;
    color: #000;
}

.header button {
    margin-right: 16px;
    padding: .5rem 2.5rem;
    border-radius: 15px;
    border: 1px solid $colorTitle;
    cursor: pointer;
    background-color: $colorBackground2;

    &:hover {
        background-color: transparent;
        border-color: $colorBackground2;
        transition: .5s;
    }
}

.containerProducts,
.productMain,
.subProducts div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerProducts {
    width: 100vw;
    height: 90vh;
}

.productMain,
.imgFull {
    width: 60vw;
    height: 50vh;
    border: 1px solid $colorBorder;
    background-color: $colorTitle;
    border-radius: 20px;
}

.subProducts {
    display: flex;
    justify-content: space-around;
    width: 60vw;
}

.items {
    width: 300px;
    height: 200px;
    background-color: $colorTitle ;
    border: 1px solid $colorBorder;
    margin: 3vh;
    border-radius: 10px;
}

.imagePrev {
    width: 300px;
    height: 200px;
    cursor: pointer;
}

.cart {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 90vh;
    background-color: rgba($color: $colorBorder, $alpha: .2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.cart h1 {
    font-size: 1.5rem;
}

.cartButtons button {
    padding: .6rem 1.5rem;
    margin: 0 8px;
    border-radius: 3rem;
    border: 1px solid $colorTitle;
    background-color: rgba($color: $colorBackground2, $alpha: .5);
    &:hover {
        transform: scale(1.1);
        transition: .5s;
        cursor: pointer;
        background-color: transparent;
    }
}

.pedidos p {
    background-color: red;
    margin: .5rem 0;
    padding: 1rem 4rem;
    border-radius: 10px;
    border: 1px solid $colorBorder;
}

.buy {
    position: absolute;
    top: 0;
    margin-top: 7vh;
    background-color: rgba($color: $colorBackground2, $alpha: .8);
    padding: 1.5rem 3rem;
    border-radius: 15px;
}
.description {
    position: absolute;
    margin-top: 28vh;
}
#hamburger:hover ~ .description h2{
    display: block;
}
#Chinese:hover ~ .description h2{
    display: block;
}
#Sushi:hover ~ .description h2{
    display: block;
}

.description h2{
    font-size: 1.5rem;
    background-color: rgba($color: $colorBackground2, $alpha: .5);
    padding: .5rem 3rem;
    border-radius: 10px;
    margin-top: .5rem;  
    display: none;  
}
.description span{
    background-color: $headerColor;
    padding: .3rem 1rem;
    border-radius: 10px;
}
.about{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about h1{
    margin-bottom: 3vh;
    background-color: $colorBackground2;
    padding: 1.2rem 2rem;
    border-radius: 10px;
    color: $colorBorder;
}
.contact{
    display: flex;
}
.contact h1{
    margin: 1rem 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}